# SERVER
ENV=dev # dev | prod
PORT=8080
FE_URL=http://localhost:3000

# DATABASE
DB_DRIVER=postgres
DB_SOURCE=postgresql://root:root@localhost:5432/zenboard?sslmode=disable


# OAUTH
OAUTH_CLIENT_ID=client_id
OAUTH_CLIENT_SECRET=client_secret
OAUTH_CALLBACK_URL=http://localhost:8080/oauth/callback
OAUTH_REDIRECT_URL=http://localhost:3000/auth
OAUTH_STATE=state